/*Style Sheetpage*/

/* html elements */

body {
    font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	background-color: #777;
	width: auto;
	align-content: center;
}

section {
	background-color: #ebebeb;
	text-align: center;
	color: green;
	margin: 10px;
	padding: 10px 10px 10px 10px;
}


div {
	color: yellow;
}

h1 {
	font-size: 18px;
	text-align: center;
	margin: 10px;
	color: black;
	background-color:#FFFFFF;
}

p {
/*	background-color: #ebebeb;*/
	text-align: center;
	color: white;
}

/* html classes */

.space {

	width: 960px;
	margin: 5px auto;

}

.wrapper {
/*	width: 100vw;*/	
/*	width: 960px;*/
	margin: 10px auto;
}
.art1{
	background-color:black;
}

.container {
	width: 50%;
	margin: 10px auto;
	background-color: #ebebeb;
	text-align: center;
	padding: 0 auto;	
	color: blue;
	float: left;
}

.aside {
	width: auto;
	position:relative;
	margin: 10px 10px 10px 10px;
/*	margin: 10px;*/
/*	margin: 10px auto;*/
	background-color: #ebebeb;
	text-align: center;
	color: blue;	
	padding: 10px 271px 140px 300px;
	float: left;

}

/*  Id items  */





/*  footer elements / classes / ids  */

footer {

	/*footer font*/
	text-align: center;
	color: red;		

/*	width: 100vw;*/
	margin: 10px auto;
	background-color: #ebebeb;
	padding: 10px 30px 10px 30px;
	clear: both;
}