/*Style Sheetpage*/

body {
    font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	background-color: #777;
	width: auto;
	align-content: center;
}

section {
	background-color: #ebebeb;
	text-align: center;
	color: green;
	margin: 10px;
	padding: 10px 10px 10px 10px;
}

.container {
	background-color: #ebebeb;
	text-align: center;
	color: blue;
	width: 50%;
	margin: 10px;
	float: left;
}

.aside {
	background-color: #ebebeb;
	text-align: center;
	color: blue;
	padding: 10px 275px 200px 275px;
	margin: 10px;
	float: left;
}


div {
	color: yellow;
}

h1 {
	font-size: 18px;
	text-align: center;
	margin: 10px;
	color: yellow;
}

p {
	background-color: #ebebeb;
	text-align: center;
	color: white;
}

footer {
	background-color: #ebebeb;
	text-align: center;
	color: red;
	margin: 10px;
	padding: 30px 30px 30px 30px;
	clear: both;
}